/* =Reset styles
-------------------------------------------------------------- */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: 300; font-style: normal; font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
hr { border: 0; border-top: 1px solid #E4E7E9; border-bottom: 1px solid #fff; margin: 2em 0; height: 0; clear: both; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

img { height: auto; }
img, object, embed { max-width: 100%; }

.clear { clear: both; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* =Misc
-------------------------------------------------------------- */
.italic { font-style: italic; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.left { float: left; }
.right { float: right; }
.hide { display: none; }
.upper { text-transform: uppercase; letter-spacing: 1px; }
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }
.center { text-align: center; margin-left: auto; margin-right: auto; }
.double-size { font-size: 200%; line-height: 1.6; }
.box { background: #FFF; border-radius: 3px; border: 1px solid #E4E7E9; margin-bottom: 2em; border-bottom: 1px solid #D2D5D6; }
.padded { padding: 1em 1.5em; }
.greyed { background: #F8FAFC; }
.subtitle { font-size: 125%; }

/* =Columns
-------------------------------------------------------------- */
.column { position: relative; float: left; margin-right: 3.125%; }
.half { width: 48.43%; }
.third { width: 31.25%; }
.fourth { width: 22.65%; }
.fifth { width: 16.8%; }
.sixth { width: 13.33%; }
.two-third { width: 65.625%; }
.three-fourth { width: 74.2%; }
.four-fifth { width: 80.075%; }
.last, .column:last-child { margin-right: 0px; clear: right; }
.column.center { margin: 0 auto; float: none; clear: both; }


/* =Headlines and text
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: 600; line-height: 1.5; margin-bottom: 0.5em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a { font-weight: inherit; font-style: inherit; }

h1 { font-size: 2.25em; letter-spacing: -1px; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; font-weight: normal; }
h6 { font-size: 0.875em; font-weight: normal; }

p { margin-bottom: 1em; }

a { text-decoration: none; color: #227DDA; font-weight: inherit; font-style: inherit; font-size: inherit; -webkit-transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; -ms-transition: color 0.25s ease-in-out; -o-transition: color 0.25s ease-in-out; transition: color 0.25s ease-in-out; }
a:hover { color: #1E6FC1; text-decoration: underline; }
p a { text-decoration: underline; }
small { font-size: 0.750em; }
strong { font-weight: 600; }
em { font-style: italic; }
pre, code { font-family: Monaco, "Courier New", monospace; font-size: 85%; }
.bold { font-weight: 600; }
.light { font-weight: 300; }

/* =Layout
-------------------------------------------------------------- */
body { margin: 0; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-size: 1em; font-weight: 300; line-height: 1.8; text-rendering: optimizeLegibility; }
section { padding: 2em 0; }
aside { font-size: 0.875em; }
.wrapper { width: 90%; max-width: 960px; margin: 0px auto; position: relative; }
.wrapper-wide { width: 90%; max-width: 1140px; margin: 0px auto; position: relative; }
.boxed-layout { padding: 0; }
.boxed-layout .main { padding: 1em 1.5em; background: #fff; }

/* =Navigation
-------------------------------------------------------------- */
nav { float: right; }
nav li { float: left; font-size: 0.875em; margin-left: 0.625em; position: relative; }
nav li a { display: block; padding: 0 0.625em; }
nav li a.button { height: 2.25em; line-height: 1.25; }
nav li.submenu > a { margin-right: 1.375em; }
nav li.submenu > a:after { content:'▾'; display: block; position: absolute; right: 0.75em; top: 0; }
nav li.submenu:hover ul { display: block; }
nav li.submenu ul { display: none; position: absolute; z-index: 99; background: #364046; }
nav li.submenu ul li { float: none; line-height: 2.5; height: 2.5em; margin-right: 0.625em; }

#nav-toggle { position: absolute; right: 0; display: none; }

/* =Forms and Buttons
-------------------------------------------------------------- */
form .row { margin-bottom: 1em; }
form label { line-height: 2; display: block; position: relative; }
form label.infield { opacity: 0; position: absolute; }
form label.radio, form label.checkbox { font-size: 1em; }

input, textarea { font-size: 1em; width: 100%; font-family: inherit; font-weight: 400; padding: 0.5em; line-height: 1.4; text-align: left; resize: none; outline: none; -webkit-appearance: none; -moz-appearance: none; border: 1px solid #dbdbdb; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
input:focus, textarea:focus { border-color: #B3B3B3; color: #303030; }

::-webkit-input-placeholder { color: #c9c9c9; font-weight: 300; }
:-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder  { color: #c9c9c9; font-weight: 300; }
form input[type="checkbox"] { -webkit-appearance: checkbox; width: auto; margin-right: 0.5em; }
form input[type="radio"] { -webkit-appearance: radio; width: auto; margin-right: 0.5em; }

.button { font-size: 1em; display: inline-block; border: 0; font-weight: 300; padding: 0.5em 1.25em 0.625em; font-family: "Open Sans", Helvetica, Arial, sans-serif; -webkit-appearance: none; border-radius: 3px; position: relative; color: #fff; background: #E43413; width: auto; text-align: center; cursor: pointer; -webkit-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; -ms-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }
.button:hover { background: #CA2B0D; text-shadow: 0 1px 0px rgba(0,0,0,0.25); text-decoration: none; color: #fff; }
.button:active {  }
.button-wide { width: 100%; }
.help-block { display: block; color: #a5aaad; font-size: 0.75em; }

.thumb-list p { font-size: 0.875em; }
.thumb-list hr { margin: 1em 0; }

/* =Media
-------------------------------------------------------------- */
.media { border-bottom: 1px solid #E4E7E9; margin-bottom: 1em;  }
.media h1, .media h2, .media h3 { line-height: 1; margin-bottom: 0.2em; }
.media, .media-body { overflow: hidden; _overflow: visible; zoom: 1; }
.media .media-image { float: left; margin-right: 1em; }
.media .media-image img { display: block; }
.media .imgExt { float: right; margin-left: 1em; }

/* =Icons
-------------------------------------------------------------- */
@font-face {
	font-family: 'archetype';
	src:url('../fonts/archetype.eot');
	src:url('../fonts/archetype.eot?#iefix') format('embedded-opentype'),
		url('../fonts/archetype.svg#archetype') format('svg'),
		url('../fonts/archetype.woff') format('woff'),
		url('../fonts/archetype.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="icon-"] { -ms-zoom: 1; }
i { font-style: normal; text-transform: none; }
i[class^="icon-"]::before, i[class*=" icon-"]:before { font-family: 'archetype'; font-weight: normal; font-style: normal; display: inline-block; text-decoration: none; font-variant: normal; }
a [class^="icon-"], a [class*=" icon-"] { display: inline-block; text-decoration: inherit; }
.icon-mail:before { content: "\e000"; }
.icon-rss:before { content: "\e001"; }
.icon-facebook:before { content: "\e002"; }
.icon-twitter:before { content: "\e003"; }
.icon-like:before { content: "\e004"; }
.icon-linkedin:before { content: "\e006"; }


/* =JS Plugins
-------------------------------------------------------------- */
.selekt-replaced { font-size: 1em; width: 100%; font-family: inherit; font-weight: 400; padding: 0.5em; line-height: 1.4; text-align: left; resize: none; outline: none; -webkit-appearance: none; -moz-appearance: none; border: 1px solid #dbdbdb; background-color: #fcfcfc; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); background-image: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); background-image: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); position: relative; display: inline-block; }
.selekt-replaced select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; background: transparent; border: none; cursor: pointer; display: block; height: 100%; left: 0; line-height: 100%; margin: 0; outline: none; position: absolute; top: 0; width: 100%; }
.selekt-replaced span { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%; color: #303030; font-weight: 400; }
.selekt-replaced:after { content:'▾'; border-left: 1px solid #E9E9E9; pointer-events: none; position: absolute; top: 0; vertical-align: middle; padding: 0.5em 0.6em; text-align: center; right: 1px; }
.selekt-replaced.active { border-color: #B3B3B3; color: #303030; -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80);}
.modal{position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;background-color:#ffffff;border:1px solid #9c9c9a;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #9c9c9a;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.modal-wide{width:800px;margin-left:-400px;}
.modal.fade.in{top:10%;}
.modal-header{padding:9px 15px;border-bottom:1px solid #eee;}.modal-header .close{margin-top:2px;}
.modal-header h3{margin:0;line-height:30px;}
.modal-body{position:relative;overflow-y:auto;max-height:580px;padding:1.5em;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #dbdbdb;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.modal-footer .btn-block+.btn-block{margin-left:0;}
.fade { -webkit-transition: opacity 0.15s linear; -moz-transition: opacity 0.15s linear; -ms-transition: opacity 0.15s linear; -o-transition: opacity 0.15s linear; transition: opacity 0.15s linear; opacity: 0; }
.fade.in { opacity: 1; }
.collapse { -webkit-transition: height 0.35s ease; -moz-transition: height 0.35s ease; -ms-transition: height 0.35s ease; -o-transition: height 0.35s ease; transition: height 0.35s ease; position: relative; overflow: hidden; height: 0; }
.collapse.in { height: auto; }
.model-close { float: right; font-size: 1.8em; font-weight: 700; line-height: 18px; color: #000000; text-shadow: 0 1px 0 #ffffff; background: #fff; opacity: 0.2; filter: alpha(opacity=20); position: absolute; top: 15px; right: 15px; z-index: 1; }
.model-close:hover { color: #000000; text-decoration: none; opacity: 0.4; filter: alpha(opacity=40); cursor: pointer; }
.modal .column.padded, .modal .column.three-fourth { float: none !important; width: 100% !important; padding: 0; margin: 0; border: 0; }


/* =Color and styles
-------------------------------------------------------------- */
body { background: #fff; color: #696c6e; }
h1, h2, h3, h4, h5, h6 { color: #202529; }
#column-example .column { background: #F0F4F7; text-align: center; margin-bottom: 2em; padding: 1em 0; }
header { background: #364046; height: 3.5em; line-height: 3.5em; }
header .logo { float: left; font-size: 1.125em; font-weight: 600; text-transform: uppercase; color: #fff; }

nav li a { color: #9fa5a8; }
nav li a:hover { color: #fff; text-decoration: none; }

footer { background: #364046; padding: 2em 0; color: #fff; }
footer a { color: #9fa5a8; }
footer a:hover { color: #fff; }

#feature-icons .column { text-align: center; }
#feature-icons i[class^="icon-"] { font-size: 5em; line-height: 1em; }

.section-alt { background: #F0F4F7; border-top: 1px solid #E4E7E9; }
.section-banner { background: url(../images/forest.jpg) no-repeat center center; background-size: cover; height: 500px; }

.thumbnail { display: block; }

/* =Media queries
-------------------------------------------------------------- */
@media screen and (max-width: 700px) and (min-width: 0) {
	.column { float: none; width: 100%; margin-right: 0; }
	.double-size { font-size: 150%; }
	#nav-toggle { display: block; color: #fff; }
	nav { margin-left: -6%; position: absolute; width: 112%; margin-top: 3.5em; background: #F0F4F7; z-index: 1; }
	nav li { display: block; float: none; border-bottom: 1px solid #E6E6E6; margin: 0; }
	nav li a { width: 90%; margin: 0px auto; padding: 0; }
	nav li a:hover { color: #202529; }
	nav li.submenu a { margin: 0px auto; }
	nav li.submenu a:after { display: none; }
}


@media print {
    body { background: #fff; color: #000; font-size: 9pt; }
}